table {
    padding: 15px;
    border: 2px black solid;
    margin: auto;
}
.invisible {
    visibility: hidden;
}
body { 
    background-image: linear-gradient(to right, red , rgb(0, 255, 4));
}
p {
    margin: 5px;
    width: 260px;
    color: white;
    border: 3px black;
    padding: 3px;
    font-size: 20px;
}
